flask
flask-sqlalchemy
flask-security
email-validator
mysqlclient
flask-marshmallow
bcrypt
flask-Admin
click
colorama
dominate
Flask
Flask-BS4
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
MarkupSafe
PyMySQL
SQLAlchemy
visitor
Werkzeug
WTForms